:root {
    /* #### Text */

--veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
--soft: red: hsl(14, 88%, 65%);

/* #### Gradient */

/* Background gradient: */

--softViolet: hsl(273, 75%, 66%);
--soft : blue: hsl(240, 73%, 65%);

/* ### Neutral */

/* #### Text */

--veryDarkGrayishBlue: hsl(237, 12%, 33%);
--darkGrayishBlue: hsl(240, 6%, 50%);

/* #### Dividers */

--lightGrayishBlue: hsl(240, 5%, 91%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--softViolet);
    font-family: 'Kumbh Sans', sans-serif;
}
h1 {
    padding-top: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}
hr {
    width: 90%;
    margin-left: 1rem;
    border: none;
    height: 1px;
    background-color: rgba(48, 65, 90,0.12);
}
.card {
    background-color: white;
    width: 20.5rem;
    height: 33.4rem;
    border-radius: 1.5rem;
    margin: auto;
    margin-top: 14.5rem;
    position: relative;
}
.card ul {
    width: 95%;
    margin: auto;
    text-align: left;
}
.card ul li {
    list-style: none;
    padding: 1rem;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#div1,#div2,#div3,#div4,#div5 {
    display: none;
    font-size: 0.80rem;
    color: var(--darkGrayishBlue);
    padding: 0rem 1rem 1rem 1rem;
}

.card .card-content .head-image img {
    width: 15rem;
    position: absolute;
    right: 14%;
    top: -21%;
}
.card .card-content .head-image-shadow {
    padding-left: 2.5rem;

}
.card .card-content footer img {
    width: 0.7rem;
    height: 0.5rem;
    cursor: pointer;   
}