:root {
    /* #### Text */

--veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
--soft: red: hsl(14, 88%, 65%);

/* #### Gradient */

/* Background gradient: */

--softViolet: hsl(273, 75%, 66%);
--soft : blue: hsl(240, 73%, 65%);

/* ### Neutral */

/* #### Text */

--veryDarkGrayishBlue: hsl(237, 12%, 33%);
--darkGrayishBlue: hsl(240, 6%, 50%);

/* #### Dividers */

--lightGrayishBlue: hsl(240, 5%, 91%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--softViolet);
    font-family: 'Kumbh Sans', sans-serif;
}
h1 {
    padding-top: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}
hr {
    width: 90%;
    margin-left: 1rem;
    border: none;
    height: 1px;
    background-color: rgba(48, 65, 90,0.12);
}
p {
    padding-top: 0.8rem;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    color: var(--darkGrayishBlue)
}
.card {
    background-color: white;
    width: 20.5rem;
    height: 34.5rem;
    border-radius: 1.5rem;
    margin: auto;
    margin-top: 14.5rem;
    padding-bottom: 3rem;
    position: relative;
}
.card ul {
    width: 95%;
    margin: auto;
    text-align: left;
}
.card ul li {
    list-style: none;
    padding: 1rem;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;   
}
.card ul li.is-open{
    padding-bottom: 0.1rem;

}
#div1,#div3,#div4,#div5 {
    display: none;
    font-size: 0.80rem;
    color: var(--darkGrayishBlue);
    padding: 0rem 1rem 1rem 1rem;
}
#div2 {
    display: none;
    font-size: 0.80rem;
    color: var(--darkGrayishBlue);
    padding: 0rem 1rem 1rem 1rem;
}

.card .card-content .head-image img {
    width: 15rem;
    position: absolute;
    right: 14%;
    top: -19.6%; 
}

.card .card-content .head-image-shadow {
    padding-left: 2.5rem;

}
.card .card-content footer img {
    width: 0.7rem;
    height: 0.5rem;
}

.accordion-content {
  display: none;
  width: 90%;
  margin: auto;
  padding-right: 1.5rem;
}

  li.accordion:hover{
      color: rgb(255, 0, 0);
  }

  li.accordion.is-open {
    
    
    font-weight: bold;
  }
  li.accordion.is-open:hover {
   color:black;
  }
  
  .show {
      display: block;
  }

  li.accordion::after {
    content: "\f107";
    color: rgb(179, 3, 3);
    font-family: "fontAwesome";
    font-size: 18px;
    float: right;
  }
  li.accordion.is-open::after{
    content: "\f106";
    font-family: "fontAwesome";
    font-size: 18px;
    float: right;
  }
  .img2 {
      display: none;
  }
  body .img3{
      display: none;
    position: absolute;
    left: 9.2rem;
    top: 11.65rem;
    z-index : 1;
 
     }
/*  
  ------------------------------------------------------------------------------------------ */
  @media only screen and (min-width: 1250px) {
h1 {
    text-align: left;
    margin-left: 1.3rem;
    padding-top: 3.5rem;
}
      .card {
          width: 60rem;
          height: 32rem;
          margin-left: 15rem;
          margin: auto;
          margin-top: 10rem;
          /* overflow: hidden; */
          position: relative;
          background-image: url(/images/bg-pattern-desktop.svg);
          background-repeat: no-repeat;
          background-position-x: -35rem;
          background-position-y: -18.5rem;
          box-sizing: border-box;
          
        }
        .wrapper {
            padding-left: 1rem;
            
        }
        
        .card-content{
            display: flex;   
            overflow: hidden;      
        }
        .img1 {
            display: none;
        }

        .card .card-content .head-image .img2 {
            width: 30rem;          
            display: block;
             margin-top: 4rem;        
             max-width: 600px;    
             position: relative;
             margin-left: -1.1rem;
     
        }
       body .img3{
        max-width: 12.8rem;
       display: block;
       z-index : 1;
       position: absolute;
       left: -6.3rem;
       margin-top: 18.6rem;
} 
.card .card-content .head-image-shadow {
    display: none;

}    
            
        
        .card ul {
            width: 22rem;
            margin: auto;
            text-align: left;
        }
    }

   