:root {
    /* #### Text */

--veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
--soft: red: hsl(14, 88%, 65%);

/* #### Gradient */

/* Background gradient: */

--softViolet: hsl(273, 75%, 66%);
--soft : blue: hsl(240, 73%, 65%);

/* ### Neutral */

/* #### Text */

--veryDarkGrayishBlue: hsl(237, 12%, 33%);
--darkGrayishBlue: hsl(240, 6%, 50%);

/* #### Dividers */

--lightGrayishBlue: hsl(240, 5%, 91%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--softViolet);
    font-family: 'Kumbh Sans', sans-serif;
}
h1 {
    text-align: center;
}
hr {
    width: 90%;
    margin-left: 1rem;
}
.card {
    background-color: white;
    width: 20.5rem;
    height: 33.4rem;
    border-radius: 1.5rem;
    margin: auto;
    margin-top: 14.5rem;
}
.card ul {
    width: 95%;
    margin: auto;
    text-align: left;
}
.card ul li {
    list-style: none;
    padding: 1rem;
    font-size: 0.85rem;
    
}
.card .card-content .head-image img {
    width: 15rem;
}